$main-color: red;

body {
  background-image: url("/images/yellow_supplies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: black;
  text-align: left;
  margin-left: 55px;
  margin-top: 150px;
}

h2 {
    color:$main-color;
    margin-left: 20px;
}

.nav {
  background: white;
}

#form-container {
  width: 500px;
  margin-left: 130px;
  margin-top: 40px;
}
form {
  padding: 5px;
  border: 1px solid;
  font-family: inherit;
}
