$main-color: red;

h1 {
  font-size: 4em;
  color: black;
  text-align: center;
}
h2 {
  color: $main-color;
  text-align: center;

  &:hover {
    color: $main-color;
  }
}

.nav {
  background: white;
}

.userimage {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

#form-container {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;

    form {
        padding: 5px;
        border: 1px solid;
        font-family: inherit
    }
}

body {
    font-family: sans-serif;
}